version: 2.1

no-backports: &no-backports
  name: Skip any branches called cherry-pick
  command: |
    if [[ "${CIRCLE_BRANCH}" == *"cherry-pick"* || "${CIRCLE_BRANCH}" == *"backport"* ]]; then
      circleci step halt
    fi

skip-check: &skip-check
  name: Check for [ci skip]
  command: bash .circleci/early_exit.sh

merge-check: &merge-check
  name: Check if we need to merge upstream main
  command: |
    if [[ -n "${CIRCLE_PR_NUMBER}" ]]; then
      git fetch origin --tags
      git fetch origin +refs/pull/$CIRCLE_PR_NUMBER/merge:pr/$CIRCLE_PR_NUMBER/merge
      git checkout -qf pr/$CIRCLE_PR_NUMBER/merge
    fi

jobs:
  figure:
    parameters:
      jobname:
        type: string
      image:
        type: string
    docker:
      - image: << parameters.image >>
    environment: TOXENV=<< parameters.jobname >>
    steps:
      - run: *no-backports
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: pip install --user -U tox tox-pypi-filter
      - run: tox -v
      - run:
          name: Running codecov
          command: bash -e .circleci/codecov_upload.sh -f ".tmp/${TOXENV}/coverage.xml"
      - store_artifacts:
          path: .tmp/<< parameters.jobname >>/figure_test_images
      - run:
          name: "Image comparison page is available at: "
          command: echo "${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/.tmp/${TOXENV}/figure_test_images/fig_comparison.html"

  deploy-reference-images:
    parameters:
      jobname:
        type: string
      image:
        type: string
    docker:
      - image: << parameters.image >>
    environment:
      TOXENV: << parameters.jobname >>
      # GIT_SSH_COMMAND: ssh -i ~/.ssh/id_rsa_81487513a647e1b6ec0b73b589be0ba5
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      # Clear out all the ssh keys so that it always uses the write deploy key
      - run: ssh-add -D
      # Add private key for deploying to the figure tests repo
      - add_ssh_keys:
          fingerprints: "SHA256:jPMMfjugXtgV9Rx7nD4XuEB8Bs8mvFlr3lUy80A1kVQ"
      - run: ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run: git config --global user.email "sunpy@circleci" && git config --global user.name "SunPy Circle CI"
      - run: git clone git@github.com:sunpy/sunpy-figure-tests.git --depth 1 -b mpl-animators-${CIRCLE_BRANCH} ~/sunpy-figure-tests/
      # Generate Reference images
      - run: pip install --user -U tox tox-pypi-filter
      - run: rm -rf /home/circleci/sunpy-figure-tests/figures/$TOXENV/*
      - run: tox -v -- --mpl-generate-path=/home/circleci/sunpy-figure-tests/figures/$TOXENV | tee toxlog
      - run: |
          hashlib=$(grep "^figure_hashes.*\.json$" toxlog)
          cp ./mpl_animators/tests/$hashlib /home/circleci/sunpy-figure-tests/figures/$TOXENV/
      - run: |
          cd ~/sunpy-figure-tests/
          git pull
          git status
          git add .
          git commit -m "Update reference figures from ${CIRCLE_BRANCH}" || echo "No changes to reference images to deploy"
          git push


all-jobs: &all-jobs
  - "py311-figure"
  - "py312-figure-devdeps"
  - "py310-figure-oldestdeps"

main-branch: &main-branch
  branches:
    only:
      - main

workflows:
  version: 2

  figure-tests:
    # This is very verbose, but we can't use `matrix:` and specify the docker container per-job
    # which massively slows down the build as we have to compile python.
    # IF YOU CHANGE THESE BUILDS UPDATE THE GILES CONFIG IN pyproject.toml
    jobs:
      - figure:
          name: "py311-figure"
          jobname: "py311-figure"
          image: "cimg/python:3.11"

      - figure:
          name: "py312-figure-devdeps"
          jobname: "py312-figure-devdeps"
          image: "cimg/python:3.12"

      - figure:
          name: "py310-figure-oldestdeps"
          jobname: "py310-figure-oldestdeps"
          image: "cimg/python:3.10"

      - deploy-reference-images:
          name: "baseline-py311-figure"
          jobname: "py311-figure"
          image: "cimg/python:3.11"
          requires: *all-jobs
          filters: *main-branch

      - deploy-reference-images:
          name: "baseline-py312-figure-devdeps"
          jobname: "py312-figure-devdeps"
          image: "cimg/python:3.12"
          requires: *all-jobs
          filters: *main-branch

      - deploy-reference-images:
          name: "baseline-py310-figure-oldestdeps"
          jobname: "py310-figure-oldestdeps"
          image: "cimg/python:3.10"
          requires: *all-jobs
          filters: *main-branch
